  .catalogo {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    
}
  h3{
    font-size: 1.2rem;
  }
  .catalogo-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .catalogo-item {
    box-shadow: 2px 2px 5px 3px white;
    border-left:1px solid white;
    border-bottom: 1px solid white;
    width: 200px;
    margin: 30px 60px 30px 40px;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
p{
  font-size: 1.2rem;
  font-weight: 400;
  font-family: Tahoma;
}
  
  .catalogo-item img {
    width: 100%;
    max-height: 200px;
  }
  ul{

    list-style: none;
  }
  li{
  color: #fff;
  }
  p{
    font-weight: boldj;
  }
  h2{
    font-size: 2rem;
    text-align: center;
    font-family: 'Rubik Dirt', cursive;
    margin-bottom: 60px;
    margin-top: 100px;
  }
  .button{
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 80%;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
}
img{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.button:hover{
  background-color: rgb(30, 170, 30);
  color: #fff;
  font-weight: 200;
}
  
  @media (max-width: 768px) {
    .catalogo-item {
      width: 100%;
    }
  }
  